<div class="alert alert-secondary">

  <div class="row form-group">
    <label class="col-1 col-form-label text-right">ID : </label>
    <label class="col-3 form-control-plaintext">{{product.ID}}</label>
  </div>

  <div class="row form-group">
    <label class="col-1 col-form-label text-right p-2">Name : </label>
    <label class="col-3 form-control-plaintext">{{product.Name}}</label>
  </div>

  <div class="row form-group">
    <label class="col-1 col-form-label text-right p-2">Price : </label>
    <label class="col-3 form-control-plaintext">{{product.Price}}</label>
  </div>

  <div class="row form-group">
    <label class="col-1 col-form-label text-right p-2">Quantity : </label>
    <label class="col-3 form-control-plaintext">{{product.Quantity}}</label>
  </div>

  <a routerLink="../../show" class="btn btn-secondary mt-2">Back to List</a>

</div>
