<div class="alert alert-secondary">

  <form (ngSubmit)="updateProduct(name.value, price.value, quantity.value)" *ngIf="product">
    <div class="row form-group">
      <label for="name" class="col-1 col-form-label p-2">Name : </label>
      <input id="name" class="col-3 form-control" type="text" placeholder="Name" #name value="{{product.Name}}" />
      <!-- <span class="col-3">Error</span> -->
    </div>

    <div class="row form-group">
      <label for="price" class="col-1 col-form-label p-2">Price : </label>
      <input id="price" class="col-3 form-control" type="number" placeholder="Price" #price value="{{product.Price}}" />
    </div>

    <div class="row form-group">
      <label for="quantity" class="col-1 col-form-label p-2">Quantity : </label>
      <input id="quantity" class="col-3 form-control" type="number" placeholder="Quantity" #quantity value="{{product.Quantity}}" />
    </div>

    <input type="submit" value="Update" class="btn btn-success"/>
    <a routerLink="../../show" class="btn btn-primary ml-2">Back</a>
  </form>


</div>
